# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Commonly used libraries used by Data Science
- Data Science tool
- Arithmetic expression

###### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

###### Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Keras
- Pandas
- TensorFlow

| Data Science Tools | 
| -------------| 
| Jupyter Notebook |  
| RStudio  | 
| PyCharm |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Ili Shazwani binti Nazri